body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color-highlight{
    color:crimson;
}
.half-width{
    width: 45%;
    padding: 5px;
    padding-bottom: 30pxpx;
    margin: 20px;
    float: left;
}.half-width img{
  width: 70%;  
}
.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.dream-area{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(Images/exp-bg.png);
    background-repeat:no-repeat;
    background-position:left;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:65%;
    background-color:white;
}
#full-developer{
    border-left:10px solid;
    border-image:linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-developer{
    border-left:10px solid;
    border-image:linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}